<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>產品資訊</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div th:replace="~{/layout/DashBoardSidebar.html}"></div>
	<div class="container">
		<h2 class="text-center">產品資訊</h2>
		<div th:if="${product != null}">
			<form th:action="@{/DashBoard/updateproduct}" method="post" enctype="multipart/form-data">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<th class="bg-light">商品編號</th>
							<td><input type="text" class="form-control" name="productid" th:value="${product.productid}"
									readonly></td>
						</tr>
						<tr>
							<th class="bg-light">商品品牌</th>
							<td><input type="text" class="form-control" name="productbrand" th:value="${product.productbrand}" readonly></td>
						</tr>
						<tr>
							<th class="bg-light">商品名稱</th>
							<td><input type="text" class="form-control" name="productName"
									th:value="${product.productName}"></td>
						</tr>
						<tr>
							<th class="bg-light">商品價格</th>
							<td><input type="text" class="form-control" name="price" th:value="${product.price}"></td>
						</tr>
						<tr>
							<th class="bg-light">商品描述</th>
							<td><textarea class="form-control" name="description"
									th:text="${product.description}"></textarea></td>
						</tr>
						<tr>
							<th class="bg-light">商品顏色</th>
							<td><input type="text" class="form-control" name="color" th:value="${product.color}" readonly></td>
						</tr>
						<tr hidden>
							<th class="bg-light">商品顏色</th>
							<td><input type="text" class="form-control" name="totalSocreNum" th:value="${product.totalSocreNum}" readonly></td>
						</tr>
						<tr hidden>
							<th class="bg-light">商品顏色</th>
							<td><input type="text" class="form-control" name="productviewnumber" th:value="${product.productviewnumber}" readonly></td>
						</tr>
						<tr hidden>
							<th class="bg-light">商品顏色</th>
							<td><input type="text" class="form-control" name="totalScore" th:value="${product.totalScore}" readonly></td>
						</tr>
						<tr hidden>
							<th class="bg-light">商品顏色</th>
							<td><input type="text" class="form-control" name="avgScore" th:value="${product.avgScore}" readonly></td>
						</tr>					
						<tr hidden>
							<th class="bg-light">商品容量</th>
							<td><input type="text" class="form-control" name="capacity" th:value="${product.capacity}" readonly></td>
						</tr>
						<tr>
							<th>商品狀態</th>
							<td><select class="form-select" id="productstatus" name="productstatus" required>
									<option value="">狀態選擇</option>
									<option value="1" th:selected="${product.productstatus == 1}">上架</option>
									<option value="0" th:selected="${product.productstatus == 0}">下架</option>
								</select></td>
						</tr>
						<tr>
							<th class="bg-light">庫存數量</th>
							<td><input type="number" min="0" class="form-control" name="stockQuantity"
									id="stockQuantity" th:value="${product.stockQuantity}"></td>
						</tr>

						<tr>
							<th class="bg-light">商品圖片</th>
							<td>
								<th:block th:each="onePhoto : ${product.productPhoto}">
									<img th:src="@{/photos/download(photoid=${onePhoto.photoid})}" class="img-thumbnail"
										style="max-width: 200px; height: auto;">
									<input type="checkbox" checked name="photoid" th:value="${onePhoto.photoid}">
								</th:block> <input type="checkbox" checked name="photoid" value="0"
									style="display: none;">
							</td>
						</tr>
						<tr>
							<th class="bg-light">上傳新圖片</th>
							<td><input type="file" name="file" id="file" class="form-control-file" multiple></td>
						</tr>
					</table>
				</div>
				<br> <input type="submit" value="更新" class="btn btn-dark ">
				<input type="button" onclick="returnProduct()" value="返回上一頁" class="btn btn-secondary ">
			</form>
		</div>
		<div th:if="${product == null}">
			<p>找不到指定的產品。</p>
		</div>
	</div>
	<script>
		function returnProduct() {
			window.location.href = '/sellphone/DashBoard/productlist';
		}

		let productstatus = document.querySelector('#productstatus')
		let stockQuantity = document.querySelector('#stockQuantity')

		stockQuantity.addEventListener('input', function () {
			if (stockQuantity.value == 0) {
				productstatus.disabled = true;
				productstatus.value = 0;
			} else {
				productstatus.disabled = false;
			}
		})
		if (stockQuantity.value == 0) {
			productstatus.disabled = true;
		}



	</script>
</body>

</html>