<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8">
<title>會員總覽</title>
<link rel="stylesheet"
	href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<link rel="stylesheet" th:href="@{/User/dashBoard/css/UserList.css}" />

</head>

<body>
	<div>
		<div th:replace="~{/layout/DashBoardSidebar.html}"></div>
	</div>
	<div class="userlistcontent">
		<div class="userlistcontainer">
			<div class="title">會員總覽</div>
			<table class="userlistTable">
				<thead>
					<tr>
						<th>會員編號</th>
						<th>姓名</th>
						<th>帳號</th>
						<th>信箱</th>
						<th>手機號碼</th>
						<th>建立時間</th>
						<th>上次登入</th>
						<th>狀態</th>
						<th>檢舉次數</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${userList == null}">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>沒有資料可以檢視</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</th:block>
					<th:block th:unless="${userList == null}">
						<th:block th:each="user : ${userList}">
							<th:block th:unless="${user.status == -2}">
								<tr>
									<td th:text="${user.userId}"></td>
									<td th:text="${user.userName}"></td>
									<td th:text="${user.userAccount}"></td>
									<td th:text="${user.email}"></td>
									<td th:text="${user.contactNum}"></td>
									<td th:text="${user.createTime}"></td>
									<td th:text="${user.prevlogTime}"></td>
									<td class="status" th:text="${user.userStatus.statusDescrib}"></td>

									<th:block th:if="${user.reportNum >= 5}">
										<td class="report-Num red" th:text="${user.reportNum}"></td>
									</th:block>
									<th:block th:unless="${user.reportNum >= 5}">
										<td class="report-Num " th:text="${user.reportNum}"></td>
									</th:block>

<!-- 									<th:block th:if="${user.reportNum >= 5}"> -->
										<th:block th:if="${user.userStatus.statusDescrib == '封鎖'}">
											<td class="control">
												<button class="blockBtn hidden" onclick="blockUser(this)">
													<img th:src="@{/user/dashBoard/img/blockIcon.png}" alt=""
														width="25px" height="25px">
												</button>
												<button class="unblockBtn" onclick="unblockUser(this)">
													<img th:src="@{/user/dashBoard/img/unblockIcon.png}" alt=""
														width="20px" height="20px">
												</button>
											
												<button class="deleteBtn" onclick="deleteUser(this)">
													<img th:src="@{/user/dashBoard/img/deleteIcon.png}" alt=""
														width="25px" height="25px">
												</button>
											</td>
										</th:block>
										<th:block th:if="${user.userStatus.statusDescrib != '封鎖'}">
											<td class="control">
												<button class="blockBtn" onclick="blockUser(this)">
													<img th:src="@{/user/dashBoard/img/blockIcon.png}" alt=""
														width="25px" height="25px">
												</button>
												<button class="unblockBtn hidden"
													onclick="unblockUser(this)">
													<img th:src="@{/user/dashBoard/img/unblockIcon.png}" alt=""
														width="20px" height="20px">
												</button>
												<button class="deleteBtn" onclick="deleteUser(this)">
													<img th:src="@{/user/dashBoard/img/deleteIcon.png}" alt=""
														width="25px" height="25px">
												</button>
											</td>
										</th:block>
<!-- 									</th:block> -->
								</tr>
							</th:block>
						</th:block>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
	<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/user/dashBoard/js/UserList.js}"></script>
</body>

</html>