<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增方案</title>
    <link rel="stylesheet" th:href="@{/phoneplancss/PhonePlanInsert.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        function discardForm() {
            window.history.back();
        }
    </script>
</head>
<body>
    <div class="formContainer">
        <h1>新增方案</h1>
        <form th:action="@{/DashBoard/phoneplans/create}" method="post">
            <table>
                <tr>
                    <td>方案名稱</td>
                    <td><input type="text" name="planName" th:value="${phonePlan.planName}" /></td>
                </tr>
<!--                 <tr> -->
<!--                     <td>電話號碼</td> -->
<!--                     <td><input type="text" name="phoneNumber" th:value="${phonePlan.phoneNumber}" /></td> -->
<!--                 </tr> -->
                <tr>
                    <td>電信公司</td>
                    <td><input type="text" name="telCompany" th:value="${phonePlan.telCompany}" /></td>
                </tr>
                <tr>
                    <td>合約類別</td>
                    <td><input type="text" name="contractType" th:value="${phonePlan.contractType}" /></td>
                </tr>
                <tr>
                    <td>合約期限</td>
                    <td><input type="text" name="contractDuration" th:value="${phonePlan.contractDuration}" /></td>
                </tr>
                <tr>
                    <td>連線世代</td>
                    <td><input type="text" name="generation" th:value="${phonePlan.generation}" /></td>
                </tr>
                <tr>
                    <td>流量</td>
                    <td><input type="text" name="dataUsage" th:value="${phonePlan.dataUsage}" /></td>
                </tr>
                <tr>
                    <td>流量速率</td>
                    <td><input type="text" name="dataTransferRate" th:value="${phonePlan.dataTransferRate}" /></td>
                </tr>
                <tr>
                    <td>網內互打</td>
                    <td><input type="text" name="intraNetCall" th:value="${phonePlan.intraNetCall}" /></td>
                </tr>
                <tr>
                    <td>網外互打</td>
                    <td><input type="text" name="interNetCall" th:value="${phonePlan.interNetCall}" /></td>
                </tr>
                <tr>
                    <td>市話</td>
                    <td><input type="text" name="localCall" th:value="${phonePlan.localCall}" /></td>
                </tr>
                <tr>
                    <td>折扣</td>
                    <td><input type="text" name="discount" th:value="${phonePlan.discount}" /></td>
                </tr>
                <tr>
                    <td>禮物</td>
                    <td><input type="text" name="gift" th:value="${phonePlan.gift}" /></td>
                </tr>
            </table>
            <div class="btnmenu">
                <input class="insertBtn" type="submit" value="新增" />
                <button class="cancleBtn" type="button" onclick="discardForm()">取消</button>
            </div>
        </form>
    </div>
</body>
</html>
