<!DOCTYPE html>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dishes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container">

    <h1>餐點列表</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish,iterStat : ${dishes}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.description}"></td>
            <td th:text="'$' + ${dish.price}"></td>
            <td th:text="${dish.dishType.name}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/dishes/edit/{dishId}(dishId=${dish.id})}">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-danger" th:href="@{/dishes/delete/{dishId}(dishId=${dish.id})}">
                    <i class="bi bi-trash3"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="@{/dishes/create}">新增餐點</a>
</div>
</body>
</html>
