<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>結帳頁面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/shoppingcart/checkout/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/shoppingcart/checkout/vendor/nouislider/nouislider.min.css}" rel="stylesheet">
    <link th:href="@{/shoppingcart/checkout/vendor/choices.js/public/assets/styles/choices.min.css}" rel="stylesheet">
    <link th:href="@{/shoppingcart/checkout/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/shoppingcart/checkout/css/style.default.css}" rel="stylesheet" id="theme-stylesheet">
    <link th:href="@{/shoppingcart/checkout/css/custom.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/shoppingcart/checkout/img/favicon.png}">
    <link th:href="@{/shoppingcart/cart/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/shoppingcart/cart/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link th:href="@{/shoppingcart/cart/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script th:src="@{/shoppingcart/cart/js/wow.min.js}"></script>
    <div th:replace="~{/layout/headerStylesheet.html}"></div>
    <script>
        new WOW().init();
    </script>
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>
<body>
<!-- Header -->
<div class="header" th:replace="~{/layout/header.html}"></div>

<div class="container">
    <section class="py-5">
        <h2 class="h5 text-uppercase mb-4">帳單詳細資料</h2>
        <div class="row">
            <div class="col-lg-8">
                <form id="checkoutForm" th:action="@{/orders/saveOrder}" method="post" onsubmit="prepareOrderData(event)">
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <label class="form-label text-sm text-uppercase" for="name">姓名</label>
                            <input class="form-control form-control-lg" type="text" id="name" name="name" placeholder="輸入您的姓名">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label text-sm text-uppercase" for="email">電子郵件地址</label>
                            <input class="form-control form-control-lg" type="email" id="email" name="email" placeholder="例如：ABCD@example.com">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label text-sm text-uppercase" for="phone">電話號碼</label>
                            <input class="form-control form-control-lg" type="tel" id="phone" name="phone" placeholder="例如：0912345678">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label text-sm text-uppercase" for="city">縣市</label>
                            <input class="form-control form-control-lg" type="text" id="city" name="city">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label text-sm text-uppercase" for="district">鄉鎮市區</label>
                            <input class="form-control form-control-lg" type="text" id="district" name="district">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label text-sm text-uppercase" for="address">地址：街道名稱/巷/弄/號/樓</label>
                            <input class="form-control form-control-lg" type="text" id="address" name="address" placeholder="街道名稱">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label text-sm text-uppercase" for="detailAddress">附加詳細地址</label>
                            <input class="form-control form-control-lg" type="text" id="detailAddress" name="detailAddress" placeholder="(選填)公寓、套房、公司單位等">
                        </div>
                    </div>
                    <h2 class="h5 text-uppercase mt-4">付款信息</h2>
                    <div class="row gy-3">
                        <div class="col-lg-12">
                            <label class="form-label text-sm text-uppercase" for="cardName">持卡人姓名</label>
                            <input class="form-control form-control-lg" type="text" id="cardName" name="cardName" placeholder="持卡人姓名">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label text-sm text-uppercase" for="cardNumber">卡號</label>
                            <input class="form-control form-control-lg" type="text" id="cardNumber" name="cardNumber" placeholder="0000 0000 0000 0000">
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label text-sm text-uppercase" for="expMonth">到期日</label>
                            <input class="form-control form-control-lg" type="text" id="expMonth" name="expMonth" placeholder="MM">
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label text-sm text-uppercase" for="expYear">&nbsp;</label>
                            <input class="form-control form-control-lg" type="text" id="expYear" name="expYear" placeholder="YYYY">
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label text-sm text-uppercase" for="cvv">CVC/CVV</label>
                            <input class="form-control form-control-lg" type="text" id="cvv" name="cvv" placeholder="***">
                        </div>
                        <input type="hidden" id="orderId" name="orderId">
                        <input type="hidden" id="status" name="status">
                        <input type="hidden" id="createDate" name="createDate">
                        <input type="hidden" id="totalAmount" name="totalAmount">
                        <input type="hidden" id="payStatus" name="payStatus">
                        <div class="col-lg-12 form-group">
                            <button class="btn btn-primary" type="submit">立即付款</button>
                        </div>
                    </div>
                </form>
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">您的訂單</h5>
                        <ul class="list-unstyled mb-0" id="orderSummary">
                            <li th:each="cart : ${carts}" class="d-flex align-items-center justify-content-between order-item" th:data-product-id="${cart.productId}">
                                <strong class="small fw-bold product-name" th:text="${cart.productName}"></strong>
                                <span class="text-muted small product-price" th:text="${cart.price}"></span>
                                <span class="text-muted small product-quantity" th:text="${cart.quantity}"></span>
                                <span class="text-muted small product-total" th:text="${cart.price * cart.quantity}"></span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small fw-bold">總計</strong>
                                <span id="totalAmountDisplay" th:text="${totalAmount}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<div th:replace="~{/layout/footer.html}"></div>

<script th:src="@{/shoppingcart/checkout/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/shoppingcart/checkout/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/shoppingcart/checkout/vendor/nouislider/nouislider.min.js}"></script>
<script th:src="@{/shoppingcart/checkout/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/shoppingcart/checkout/vendor/choices.js/public/assets/scripts/choices.min.js}"></script>
<script th:src="@{/shoppingcart/checkout/js/front.js}"></script>
<script>
    function prepareOrderData(event) {
        const orderId = generateOrderId();
        document.getElementById('orderId').value = orderId;
        document.getElementById('status').value = "1";
        document.getElementById('createDate').value = formatDate(new Date()); // 使用自定義格式
        document.getElementById('totalAmount').value = parseFloat(document.getElementById("totalAmountDisplay").innerText);
        document.getElementById('payStatus').value = "P";
    }

    function generateOrderId() {
        const date = new Date();
        const year = date.getFullYear();
        const month = ('0' + (date.getMonth() + 1)).slice(-2);
        const day = ('0' + date.getDate()).slice(-2);
        const hours = ('0' + date.getHours()).slice(-2);
        const minutes = ('0' + date.getMinutes()).slice(-2);
        const seconds = ('0' + date.getSeconds()).slice(-2);
        const milliseconds = date.getMilliseconds().toString().padStart(3, '0');
        return 'S' + year + month + day + hours + minutes + seconds + milliseconds;
    }

    function formatDate(date) {
        const year = date.getFullYear();
        const month = ('0' + (date.getMonth() + 1)).slice(-2);
        const day = ('0' + date.getDate()).slice(-2);
        const hours = ('0' + date.getHours()).slice(-2);
        const minutes = ('0' + date.getMinutes()).slice(-2);
        const seconds = ('0' + date.getSeconds()).slice(-2);
        const milliseconds = date.getMilliseconds().toString().padStart(3, '0');
        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}.${milliseconds}`;
    }
</script>
</body>
</html>
