<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我的方案</title>

	<div th:replace="~{/layout/headerStylesheet.html}"></div>
	<link rel="stylesheet" th:href="@{/css/FrontedAll.css}" />
</head>

<body>

	<div th:replace="~{/layout/header.html}"></div>

	<div class="main-content">
		<div class="container text-center">
			<h2>我的門號資訊</h2>
			<div class="row justify-content-md-center">
				<th:block th:each="plan : ${planList}">
					<div class="card rounded-4 shadow p-4 my-4" style="width: 65%">
						<div class="container text-center">
							<div class="row">
								<div class="col-3">門號</div>
								<div class="col-9" th:text="${plan.phoneNunber}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-3">電信公司</div>
								<div class="col-9" th:text="${plan.phonePlanBean.telCompany}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-3">方案名稱</div>
								<div class="col-9" th:text="${plan.phonePlanBean.generation}+' '+
 									${plan.phonePlanBean.planName}+' '+${plan.phonePlanBean.dataTransferRate}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-3">流量</div>
								<div class="col-9" th:text="${plan.phonePlanBean.dataUsage}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-3">通話</div>
								<div class="col-9"
									th:text="${plan.phonePlanBean.intraNetCall}+','+${plan.phonePlanBean.interNetCall}+','+${plan.phonePlanBean.localCall}">

								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-3">合約期限</div>
								<div class="col-9" th:text="${plan.phonePlanBean.contractDuration}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-3">簽約日期</div>
								<div class="col-9" th:text="${plan.agreementDate}"></div>
							</div>
							<hr>
						</div>
					</div>
					<br>
					<br>
				</th:block>
			</div>
		</div>
	</div>
	<!-- 	<div th:replace="~{layout/footer.html}"></div> -->
</body>

</html>