<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我的資料</title>

	<div th:replace="~{/layout/headerStylesheet.html}"></div>

	<link rel="stylesheet" th:href="@{/css/FrontedAll.css}" />
	<script th:src="@{/user/fronted/js/UserInfo.js}"></script>

	<style>
		/* {
			border: 1px solid black;
		} */

		a {
			cursor: pointer;
		}

		input {
			background-color: transparent;
			height: 20px;
		}

		input:focus {
			outline: none;
		}

		a {
			cursor: pointer;
		}

		input {
			background-color: transparent;
			height: 20px;
		}

		input:focus {
			outline: none;


		}

		.confirm_btn:hover {
			font-weight: bold
		}
		
		.footer{
 			position:absolute; 
 			width:100%;
			bottom:0;
		}
	</style>

</head>

<body>

	<div th:replace="~{/layout/header.html}"></div>

	<div class="main-content">
		<div class="container text-center">
			<h2>我的會員資料</h2>
			<div class="row justify-content-md-center">
				<div class="card rounded-4 shadow p-4 my-4" style="width: 65%">
					<div class="container text-start">
						<div class="row">
							<div class="col-3">會員序號</div>
							<div class="col-8" th:text="${user.userId}"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-3">姓名</div>
							<div class="col-8" th:text="${user.userName}"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-3">生日</div>
							<div class="col-8" th:text="${user.birthday}"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-3">電子信箱</div>
							<div class="col-9">
								<div class="row justify-content-between">
									<div class="col-8">
										<label id="show_email" th:text="${user.email}"></label>
										<input id="edit_email" type="text" class="com_text"
											style="display: none; border: none; ">
									</div>
									<div class="col-4 text-end">
										<a id="edit_email_link" onclick="editEmail();">
											<i class="fa-regular fa-pen-to-square"></i>
										</a>
										<div id="confirm_email" style="display: none;">
											<a class="confirm_btn" style="white-space: nowrap;"
												onclick="editEmail();">取消</a>
											<a class=" confirm_btn" style="white-space: nowrap;"
												onclick="updateEmail();">完成</a>
										</div>
									</div>
									<div>

									</div>
								</div>
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col-3">連絡電話</div>
							<div class="col-9">
								<div class="row justify-content-between">
									<div class="col-8">
										<label id="show_contactNum" th:text="${user.contactNum}"></label>
										<input id="edit_contactNum" type="text" class="com_text"
											style="display: none; border: none;">
									</div>
									<div class="col-4 text-end">
										<a id="edit_contactNum_link" onclick="editContactNum()">
											<i class="fa-regular fa-pen-to-square"></i>
										</a>
										<div id="confirm_contactNum" style="display: none;">
											<a class="confirm_btn" style="white-space: nowrap;"
												onclick="editContactNum();">取消</a>
											<a class="confirm_btn" style="white-space: nowrap;"
												onclick="updateContactNum();">完成</a>
										</div>
									</div>
									<div>

									</div>
								</div>
							</div>
						</div>

						<hr>
					</div>
				</div>

				<br> <br>
			</div>
		</div>
			
	</div>
	
	<div th:replace="~{/layout/footer.html}"></div>

</body>

</html>