<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login/Register Interface</title>
	<div th:replace="~{/layout/headerStylesheet.html}"></div>
	<link rel="stylesheet" th:href="@{/user/fronted/css/UserLogin.css}" />
	<link rel="stylesheet" th:href="@{/css/FrontedAll.css}" />
	<script th:src="@{/user/fronted/js/UserRegist.js}"></script>
</head>

<body>

	<div th:replace="~{/layout/header.html}"></div>
	<div class="main-content">
		<div class="form-container" id="login-container">

			<form id="login-form" method="post" th:action="@{/CheckLogin}">
				<h2>會員登入</h2>
				<!-- <div class="line-login" onclick="lineLogin()">
                <img src="line-logo.png" alt="LINE logo">
                Log in
            </div> -->

				<label class="inputHint">帳號或手機號碼</label> <input type="text" name="phoneNumber" id="input_phone_num"
					placeholder="帳號或手機號碼">
				<label class="inputHint">密碼</label> <input type="password" name="password" id="input_password"
					placeholder="密碼">
				<div class="error-hint" th:text="${error}? ${error}"></div>
				<lable></lable>
				<input class="submitBtn active" type="submit" value="登入">
				<div class="footer">
					<a th:href="@{/UserRegist}" class="forgot-password">會員註冊</a> 
					<a th:href="@{/forgotPassword}" class="forgot-password">忘記密碼</a>
				</div>

				<div class="justify-content-around mt-2">
					<button type="button" class="btn btn-secondary" id="leofill">會員leo</button>
					<button type="button" class="btn btn-secondary" id="garyfill">會員gary</button>
					<button type="button" class="btn btn-secondary" id="adminfill">管理員</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>