<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login/Register Interface</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
	<script th:src="@{/user/fronted/js/UserRegist.js}"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<link th:href="@{/layout/css/header.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/user/fronted/css/UserLogin.css}" />
	<link rel="stylesheet" th:href="@{/css/FrontedAll.css}" />
</head>

<body>

	<div th:replace="~{/layout/header.html}"></div>
	<div class="main-content">
		<div class="form-container" id="login-container">

			<form id="login-form" method="post" th:action="@{/CheckLogin}">
				<h2>會員登入</h2>
				<!-- <div class="line-login" onclick="lineLogin()">
                <img src="line-logo.png" alt="LINE logo">
                Log in
            </div> -->

				<label class="inputHint">帳號或手機號碼</label> <input type="text" name="phoneNumber" id="input_phone_num"
					placeholder="帳號或手機號碼">
				<label class="inputHint">密碼</label> <input type="password" name="password" id="input_password"
					placeholder="密碼">
				<div class="error-hint" th:text="${error}? ${error}"></div>
				<lable></lable>
				<input class="submitBtn active" type="submit" value="登入">
				<div class="footer">
					<a th:href="@{/UserRegist}" class="forgot-password">會員註冊</a> <a href="#"
						class="forgot-password">忘記密碼</a>
				</div>

				<div class="justify-content-around mt-2">
					<button type="button" class="btn btn-secondary" id="leofill">會員leo</button>
					<button type="button" class="btn btn-secondary" id="garyfill">會員gary</button>
					<button type="button" class="btn btn-secondary" id="adminfill">管理員</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>